@media (max-width: 1699px){
.testimonial-three-main .pbmit-heading-subheading:before {
    right: 24px;
}.pbmit-slider-five .pbmit-slider-content {
    padding: 0px;
    top: 37%;
    left: 6%;
}.about-service .pbmit-heading-desc {
    font-size: 15px;
    line-height: 27px;
}.why-us article.pbmit-miconheading-style-4 {
    height: 347px;
}.pbmit-ihbox-style-19 .pbmit-ihbox-box {
    padding: 35px 21px 25px;
}.why-us article.pbmit-miconheading-style-4 {
        height: 315px;
    }.pbmit-ihbox-style-4 .pbmit-ihbox-svg-wrapper, .pbmit-ihbox-style-4 .pbmit-ihbox-icon-type-image, .pbmit-ihbox-style-4 .pbmit-icon-type-icon, .pbmit-ihbox-style-4 .pbmit-ihbox-icon-type-text {
    margin: 10px auto 20px;
	} .whychooseus-about   .pbmit-heading-desc {
        font-size: 16px;
    }
}
@media (min-width: 1499px) and (max-width: 1610px){
img.about2 {
    max-width: 240px;
}img.about1 {
    max-width: 185px;
}img.about3 {
    max-width: 191px;
}.img-box1 .img2 {
    right: 45px;
}.img-box1 .img3 {
    right: 55px;
}.why-us .img-box1 .img1 img {
    max-width: 245px;
}.why-us .img-box1 .img2 img {
        max-width: 245px;
}.why-us .img-box1 .img3 img {
        max-width: 245px;
}.pbmit-static-box-style-1::before {
    width: 112px;
    height: 100px;
    bottom: -2px;
    right: -2px
}.pbmit-ihbox-style-7 .pbmit-element-title {
    font-size: 22px;
}.pbmit-ihbox-style-7 .pbmit-content-wrapper {
    padding-right: 60px;
}.pbmit-heading-desc {
    font-size: 17px;
}.pbmit-ihbox-style-7 .pbmit-content-wrapper .pbmit-heading-desc {
    color: #585757;
}
}
@media (min-width: 1367px) and (max-width: 1399px){
	
img.about2 {
    max-width: 240px;
}img.about1 {
    max-width: 185px;
}img.about3 {
    max-width: 191px;
}.img-box1 .img2 {
    right: 45px;
}.img-box1 .img3 {
    right: 55px;
}.why-us .img-box1 .img1 img {
    max-width: 245px;
}.why-us .img-box1 .img2 img {
        max-width: 245px;
}.why-us .img-box1 .img3 img {
        max-width: 245px;
}.pbmit-static-box-style-1::before {
    width: 112px;
    height: 100px;
    bottom: -2px;
    right: -2px
}.pbmit-main-header-area.fixed-header img.logo-img {
    max-width: 245px;
}	
	
}
@media (min-width: 1455px) and (max-width: 1498px){
	
		
img.about2 {
    max-width: 240px;
}img.about1 {
    max-width: 185px;
}img.about3 {
    max-width: 191px;
}.img-box1 .img2 {
    right: 45px;
}.img-box1 .img3 {
    right: 55px;
}.why-us .img-box1 .img1 img {
    max-width: 245px;
}.why-us .img-box1 .img2 img {
        max-width: 245px;
}.why-us .img-box1 .img3 img {
        max-width: 245px;
}.pbmit-static-box-style-1::before {
    width: 112px;
    height: 100px;
    bottom: -2px;
    right: -2px
}	
}




@media (max-width: 1366px){
.header-style-5 .pbmit-button-box-second {
     padding: 10px;
}.site-header .site-branding img {
     max-width: 210px;
}
img.about2 {
     max-width: 220px;
}.img-pack {
    padding: 0px 25px;
} img.about1 {
     max-width: 190px;
}img.about3 {
     max-width: 190px;
}.img-box1 .img1 img {
        max-width: 252px;
}    .img-box1 .img3 img {
        max-width: 253px;
    }    .img-box1 .img2 {
        right: 41px;
    }    .img-box1 .img3 {
        bottom: -10px;
    }.education-trip .imgwraper::before {
    border-radius: 0;
}.footer-tagline {
    width: 90%;
    padding: 30px 0px 30px 0px;
}.pbmit-footer-copyright-text-area {
    font-size: 14px;
    line-height: 14px;
}.site-footer .pbmit-footer-text-area {
    padding-bottom: 6px;
}    .pbmit-slider-five .pbmit-title {
        font-size: 40px;
        line-height: 47px;
    }.pbmit-static-box-style-1 {
    height: 55vh;
} .about-service .pbmit-heading-desc {
        font-size: 14px;
        line-height: 26px;
}.pbmit-ihbox-style-17 .pbmit-heading-desc {
    margin-bottom: 70px;
}.pbmit-ihbox-style-17 {
    height: 398px;
    background: #ffffff;
    border-radius: 25px;
}
}

@media (max-width: 799px){
.fixed-links {
    bottom: 0px;
}    img.about2 {
        max-width: 229px;
    }    img.about1 {
        max-width: 210px;
    }    .img-pack {
        padding: 0px 17px;
    }    .img-box1 .img1 img {
        max-width: 328px;
    }     .img-box1 .img2 {
        right: 55px;
    }    .img-box1 .img3 img {
        max-width: 300px;
    }.trip-content {
    flex-direction: column;
}.education-trip .imgwraper::before {
    left: 34%;
}.education-trip .imgwraper {
    margin-bottom: 10px;
}.why-chooseus img {
    padding-bottom: 15px;
}.footer-style-1, .footer-style-1::before {
    border-radius: 0;
    margin: 0px 0px;
    margin-top: 0px;
}.footer-columns-row {
    width: 80%;
}    .pbmit-footer-copyright-text-area {
        line-height: 17px;
    }.about-us-five-bg {
    margin: 0 0px;

	}.pbmit-title-bar-wrapper, .pbmit-title-bar-content {
    min-height: 420px;
}.pbmit-tbar-title {
    font-size: 32px;
    line-height: 42px;
}.pbmit-title-bar-content .pbmit-tbar-inner p {
    width: 100%;
}.tour-package-inner img {
    padding-bottom: 10px;
}.pbmit-ihbox-style-8 .pbmit-element-title {
    font-size: 18px;
    line-height: 36px;
}.whychooseus-about .pbmit-heading-subheading p {
    width: 100%;
}



}
@media (max-width: 599px){
    .contact-us-left-area {
        padding: 0;
    } .about-service .ihbox-six-left-area {
        padding: 0;
    } .about-service   .pbmit-heading-subheading {
        margin-bottom: 0;
    }.about-service     .ihbox-six-right-area {
        padding: 0;
    }.whats-img2 img {
    padding-bottom: 15px;
}.search-bar {
    width: 75%;
}.tour-card {
    max-width: 85%;
}
.whats-img2 {
    padding-bottom: 0px;
}
    .two-point-icon {
        gap: 20px;
        padding-bottom: 15px;
    }    .two-content::before {
        border-left: none;
    }    .about-five-left-box {
        padding: 40px;
    }.about-five-left-box{
		display:none;
	}    .img-box1 .img2 img {
        max-width: 190px;
    }    .img-box1 .img3 img {
        max-width: 210px;
    }    .img-box1 .img1 img {
        max-width: 179px;
    }    .img-box1 .img2 {
        right: 3px;
    }    .img-box1 .img3 {
        bottom: -16px;
        right: 10px;
    }    .img-box1 .img3 img {
        max-width: 175px;
    }.sec-pad {
    padding: 30px 0px;
}    .section-xl {
        padding-top: 15px;
        padding-bottom: 15px;
    }.shape-mockup.about-shape{
		display:none;
	}    .about-five-rightbox {
        padding: 0px 0px 0px 9px;
    }.why-content p {
    width: 100%;
}.pbmit-ihbox-style-21 p {
    width: 100%;
    font-size: 16px;
    line-height: 25px;
}    .trip-btn {
        width: 45%;
    }    .education-trip .imgwraper::before {
        left: 45%;
    }.wcp-icon-cont p {
    width: 95%;
}.wcp-icon-cont h6 {
    margin-bottom: 10px;
    font-size: 19px;
    line-height: 28px;
}.footer-style-1, .footer-style-1::before {
    border-radius:  0 0;
    padding-top: 0;
}.footer-style-1 .widget .pbmit-footer-logo img {
    max-width: 135px;
	padding-bottom:10px;
	
}    .site-footer .widget {
        padding-top: 0px;
    }
	.footer-style-1 .pbmit-footer-widget-area h6 {
    font-size: 16px;
    line-height: 26px;
	}.item-one {
    padding-bottom: 15px;
}    .cta h2 {
        width: 100%;
    }.cta h2 {
    font-size: 30px;
    line-height: 40px;
	}a.pbmit-btn.pbmit-btn-global {
    text-align: center;
    justify-content: center;
    margin: inherit;
    display: flex;
    max-inline-size: max-content;
}.footer-tagline{
	display:none;
}    .pbmit-title-bar-wrapper, .pbmit-title-bar-content {
        min-height: 220px;
    }body .pbmit-bg-color-secondary {
   background-image: none; 
}    .pbmit-footer-copyright-text-area {
        line-height: 17px;
        color: #fff;
    }    .site-footer .container {
        padding: 0 15px;
    }.footer-style-1 a {
    color: rgb(253 251 255);
}    .pbmit-heading-subheading .pbmit-title {
        font-size: 28px;
        line-height: 36px;
        letter-spacing: normal;
    }p {
    font-size: 15px;
    line-height: 24px;
} .pbmit-title-bar-content .pbmit-tbar-inner p {
    font-size: 15px;
    line-height: 24px;
}    .pbmit-title-bar-content .pbmit-tbar-title {
        font-size: 27px;
        line-height: 29px;
    }	.desk{
		display:none !important;
	}.mob{
		display:block !important;
	}
	    .pbmit-slider-five .pbmit-slider-content {
        width: 269px;
        padding: 0;
    }
       .pbmit-slider-five .pbmit-title {
        font-size: 25px;
        line-height: 30px;
    }    .pbmit-slider-five .pbmit-slider-item {
        height: 100%;
        padding-top: 0px;
    }	.pbmit-testimonial-style-3 .pbminfotech-testimonial-text {
    font-size: 16px;
    line-height: 28px;
    padding: 0px 0 20px;
    width: 100%;
}    .testimonial-three-main {
        padding: 30px 20px 30px 20px;
    }.swiper-button-next, .swiper-button-prev {
    width: 40px;
    height: 40px;
	}.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 18px;
	}.home-testinomial .swiper-buttons {
    display: none;
}.site-footer .widget ul a {
    font-size: 12px;
}.footer-columns-row {
        width: 100%;
    }    .pbmit-footer-copyright-text-area {
        font-size: 13px;
		
	}      .pbmit-ihbox-style-8 .pbmit-element-title {
        font-size: 16px;
        line-height: 19px;
        padding-bottom: 7px;
    }    .ihbox-one-left-col {
        margin-top: 0px;
    }.ihbox-one-img-col .ihbox-imgbox img {
    max-width: 365px;
}.whychooseus-about .pbmit-heading-subheading p {
    font-size: 15px;
    line-height: 27px;
}.pbmit-ihbox-style-4 .pbmit-ihbox-icon:before {
    left: 46%;
}    .testimonial-one .swiper-slider {
        padding-bottom: 0;
    }.global-oppurtunuties h2.pbmit-title {
    width: 100%;
}
}

@media (max-width: 399px) {
    .img-box1 .img1 img {
        max-width: 155px;
    }    .img-box1 .img2 img {
        max-width: 170px;
    }
    .img-box1 .img3 img {
        max-width: 149px;
    }.education-trip .imgwraper::after {
    left: 23px;
	}    .site-header .site-branding img {
        max-width: 195px;
    }.pbmit-header-content {
    padding: 5px 0px 5px 0px;
}    .pbmit-heading-subheading .pbmit-title {
        font-size: 25px;
        line-height: 32px;
}      .wrapercontent h6 {
        margin-right: 141px;
    }     .ihbox-one-img-col .ihbox-imgbox img {
        max-width: 278px;
    }.pbmit-main-header-area.fixed-header img.logo-img {
    max-width: 198px;
	}
}